#main {
  width: 600px;
}
#main p {
  margin: 0 0 1em;
}
#main p em {
  color: #f00;
}
#main small {
  font-size: small;
}

#header {
  color: #000;
  background-color: #fff;
}
#header .header-logo {
  width: 500px;
}